* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f6f8fa;
}

/* Navbar */
.navbar {
    background-color: #24292f;
    color: white;
    padding: 12px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar input {
    padding: 6px 10px;
    border-radius: 6px;
    border: none;
    width: 250px;
}

/* Main Layout */
.container {
    max-width: 1200px;
    margin: 30px auto;
    display: grid;
    grid-template-columns: 280px 1fr;
    gap: 30px;
}

/* Sidebar */
.sidebar {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    height: fit-content;
}

.sidebar h2 {
    margin-bottom: 5px;
}

.username {
    color: gray;
    margin-bottom: 10px;
}

/* Content */
.content h3 {
    margin-bottom: 15px;
}

/* Repository Grid */
.repo-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 30px;
}

.repo-card {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #d0d7de;
}

.repo-card h4 {
    color: #0969da;
    margin-bottom: 8px;
}

/* Activity */
.activity-box {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #d0d7de;
}
body {
    background-color: #f6f8fa;
    font-family: Arial, Helvetica, sans-serif;
}

/* Container */
.box-container {
    display: flex;
    justify-content: space-between; /* space between boxes */
    align-items: center;
    max-width: 1000px;
    margin: 100px auto;
    gap: 20px; /* clean space between boxes */
}

/* Boxes */
.box {
    flex: 1; /* all boxes same width */
    background-color: white;
    border: 1px solid #d0d7de;
    padding: 30px;
    text-align: center;
    border-radius: 8px;
    font-weight: bold;
}

