* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f6f8fa;
}

/* Navbar */
.navbar {
    background-color: #24292f;
    color: white;
    padding: 12px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar input {
    padding: 6px 10px;
    border-radius: 6px;
    border: none;
    width: 250px;
}

/* Main Layout */
.container {
    max-width: 1200px;
    margin: 30px auto;
    display: grid;
    grid-template-columns: 280px 1fr;
    gap: 30px;
}

/* Sidebar */
.sidebar {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    height: fit-content;
}

.username {
    color: gray;
    margin-bottom: 10px;
}

/* Content */
.content h3 {
    margin-bottom: 15px;
}

/* REPO BOXES – STRAIGHT LINE */
.repo-row {
    display: flex;
    gap: 20px;              /* space between boxes */
    margin-bottom: 30px;
}

.repo-card {
    flex: 1;                /* equal width boxes */
    background-color: white;
    border: 1px solid #d0d7de;
    border-radius: 8px;
    padding: 16px;
}

.repo-card h4 {
    color: #0969da;
    margin-bottom: 8px;
}

/* Activity Box */
.activity-box {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #d0d7de;
}
